@import '~@lucca-front/ng/src/style/theming.overridable';
@import '~@lucca-front/ng/src/style/mixins';
:host {
	.textfield.mod-material {
		margin-left: 3.5rem;
			.textfield-suffix {
			right: auto;
			left: -1.5rem;
		}
	}
	@include media_between('md','lg') {
		form {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.textfield.mod-material, .textfield.mod-material.mod-longer {
			margin-left: 1.5rem;
		}
	}
	@include media_smaller_than('md') {
		text-align: center;
		.textfield.mod-material, .textfield.mod-material.mod-longer {
			width: auto;
			display: flex;
			margin: .5rem 1.5rem .5rem 2rem;
		}
	}
}

:host(#form) {
	@include media_smaller_than('lg') {
		display: none;
	}
}

:host(#form-mobile) {
	form {
		background: rgba(255, 255, 255, .2);
		margin-bottom: 1px;
		padding: 10px;
	}

	@include media_larger_than('lg') {
		display: none;
	}
}

