:host {
	padding: .75rem;
	text-align: center;
	.weather {
		width: 4rem;
		height: 4rem;
		&.sunny {
			background: url('/assets/sunny.svg') no-repeat center;
		}
		&.rainy {
			background: url('/assets/rainy.svg') no-repeat center;
		}
		&.cloudy {
			background: url('/assets/cloudy.svg') no-repeat center;
		}
	}
}
