@import "~@lucca-front/scss/src/theming.overridable";
@import "~@lucca-front/scss/src/mixins";
:host {
	header {
		// position: fixed;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		z-index: 11;
		@include media_larger_than('lg') {
			
			@include elevate();
			background: rgba(255, 255, 255, .2);
		}
		#logo {
			background-color: _color("primary");
			color: _color("primary");
			font-size: 2rem;
			padding: 1rem;
			width: 100vw;
			img {
				width: 9rem;
			}
			@include media_larger_than('lg') {
				width: 10rem;
				img {
					width: auto;
				}
			}

		}
	}

	main {
		margin-top: 3rem;
		min-height: calc(100vh - 11rem);
		padding: 0;
		position: relative;

		@include media_smaller_than('md') {
			width: auto;
		}
	}
	footer {
		background: rgba(255, 255, 255, .2);
		color: white;
		.container {
			margin: 3rem auto 4rem;
			margin-bottom: 1rem;
			padding: 0 0.5rem;
			max-width: 1200px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			text-align: center;
		}
		
		div{
			padding: 1rem;
			margin-top: 1rem;
		}
		a{
			color: white;
			text-decoration: none;
			font-size: 1.2rem;
			padding-left: 30px;
			height: 30px;
			line-height: 30px;
			font-weight: 300;
		}
		.git a{
			background: url('/assets/git.svg') no-repeat;
		}
		.linkedin a{
			background: url('/assets/linkedin.svg') no-repeat;
		}
		
		span{
			display: block;
			text-align: center;
			padding: 1rem 0;
		}
	}
}