<header>
	<div id="logo"><img src="/assets/logo.svg"></div>
	<mf-form  id="form"></mf-form>
</header>
<main class="container">
	<section id="forecast">
		<mf-forecast></mf-forecast>
	</section>
	<!-- <section id="map">
		the map
	</section> -->
</main>
<section id="debug">
</section>
<router-outlet></router-outlet>
<footer>
	<div class="container">
		<div class="git">
			<a href="https://github.com/lucienbertin">Lucien Bertin</a>
			<p>Software engineer</p>
		</div>
		<div class="linkedin">
			<a href="https://www.linkedin.com/in/sandy-goldscheider-6b582540/">Sandy Goldscheider</a>
			<p>Intégrateur</p>
		</div>
		<div class="linkedin">
			<a href="https://www.linkedin.com/in/merryl-turner-22508681/">Merryl Turner</a>
			<p>Designer</p>
		</div>
	</div>	
	<span>2018 - © Lucien Bertin</span>
</footer>