<form (ngSubmit)="submit()" #form="ngForm" class="form">
	<div class="textfield mod-material mod-inline mod-noLabel mod-longer">
		<input class="textfield-input is-filled u-textSecondary" name="address" #addressInput [(ngModel)]="model.address" (ngModelChange)="searchAddresses(model.address)" required [matAutocomplete]="matAutocomplete">
		<mat-autocomplete #matAutocomplete="matAutocomplete">
			<mat-option *ngFor="let adress of adresses" [value]="adress">{{ adress }}</mat-option>
		</mat-autocomplete>
		<i class="textfield-suffix icon u-textSecondary">pin</i>
		<!-- <i class="textfield-suffix icon">location</i> -->
	</div>
	<div class="textfield mod-material mod-inline mod-noLabel">
		<input class="textfield-input is-filled u-textSecondary" name="date" #dateInput [(ngModel)]="model.date"
		[matDatepicker]="picker" required
		(click)="togglePicker(picker)" (focus)="focus(picker)" (keydown.tab)="onTab(picker)" (keydown.enter)="onEnter(picker)" (keydown.esc)="onEscape(picker)" (blur)="blur()">
		<mat-datepicker #picker="matDatepicker"></mat-datepicker>
		<i class="textfield-suffix icon u-textSecondary">calendar</i>
	</div>
	<button class="button palette-primary" [ngClass]="{'is-disabled': form.invalid }">Valider</button>
</form>
