<form (ngSubmit)="submit()" #form="ngForm" class="form">
	<div class="textfield mod-material mod-inline">
		<input class="textfield-input is-filled" name="address" [(ngModel)]="model.address" required>
		<label class="textfield-label" for="address">Où ?</label>
	</div>
	<div class="textfield mod-material mod-inline">
		<input class="textfield-input is-filled" name="date" [(ngModel)]="model.date" required>
		<label class="textfield-label" for="date">Quand ?</label>
	</div>
	<button class="button" [ngClass]="{'is-disabled': form.invalid }"><i class="icon">arrow_east</i></button>
</form>