@import '~@lucca-front/ng/src/style/theming.overridable';
@import '~@lucca-front/ng/src/style/mixins';
:host {
	.textfield.mod-material {
		margin-left: 3.5rem;
			.textfield-suffix {
			right: auto;
			left: -1.5rem;
		}
	}
	@include media_smaller_than('lg') {
		display: none;
	}
}
