:host {
	display: grid;
	grid-template:
	"details big-icon"
	"details timeline";

	mf-forecast-detail {
		grid-area: details;
		align-self: end;
	}

	.forcast-big-icon {
		grid-area: big-icon;
		text-align: right;
		img {
			width: 30%;
			max-width: 300px;
		}
	}

	mf-timeline {
		grid-area: timeline;
	}
}
